= simple_form_for @note do |f|

  = f.label 'Note'
  = f.input_field :status, class: 'form-control'
  = f.label :link 
  = f.input_field :link, class: 'form-control'
      
  %br
  = f.button :submit, class: 'btn btn-primary'
  
  

